html, body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Athiti", sans-serif;
  font-size: 1.5rem;
  color: white;
}

p.hint {
  display: none;
  font-size: 1rem;
  text-align: center;
  color: greenyellow;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  gap: 2rem;
  font-size: 1.5rem;
}

.letter {
  padding: 1rem;
  border: 1px solid rgb(250, 140, 50);
  font-size: 1.5rem;
  text-align: center;
  color: rgb(250, 140, 50);
}

#img {
  height: 10rem;
}

#alphabet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  
}


button.btn {
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 20%;
  background-color: transparent;
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
}

button.btn:hover {
  background-color: white;
  color: black;
  transform: scale(1.2);
}

button#showHint {
  padding: 0.5rem;
  border: 1px solid greenyellow;
  border-radius: 10%;
  background-color: transparent;
  color: greenyellow;
  font-size: 1.4rem;
  cursor: pointer;
}

button#showHint:hover {
  background-color: greenyellow;
  color: black;
  transform: scale(1.2);
}

/* animation */
#potter-animation {
  width: 50%;
  height: 50%;
  position: absolute;
  bottom: 0px;
  /* left: 250px; */
}

.spell-text {
  position: relative;
  z-index: 1000;
}

.spell-text .spell-tags {
  color: #fff;
  list-style-type: none;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.spell-text .spell-tags li {
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding-right: 15px;
}

.spell-text .spell-tags li:hover {
  color: #f8e71c;
  transform: scale(1.1);
}

.spell-text .spell-tags .emma {
  color: #D18F41;
}
.spell-text .spell-tags .hp {
  color: #B73749;
}
.spell-text .spell-tags .sl {
  color: #629824;
}
.spell-text .spell-tags .gr {
  color: #B73749;
}
.spell-text .spell-tags .ra {
  color: #4267B2;
}
.spell-text .spell-tags .huf {
  color: #D18F41;
}